{% extends 'base.html.twig' %}

{% block title %}Depenses index{% endblock %}

{% block body %}
    <h1>Depenses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Montant</th>
                <th>Date</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for depense in depenses %}
            <tr>
                <td>{{ depense.id }}</td>
                <td>{{ depense.montant }}</td>
                <td>{{ depense.date ? depense.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ depense.description }}</td>
                <td>
                    <a href="{{ path('app_depenses_show', {'id': depense.id}) }}">show</a>
                    <a href="{{ path('app_depenses_edit', {'id': depense.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_depenses_new') }}">Create new</a>
{% endblock %}
