{% extends 'base.html.twig' %}

{% block title %}Ajouter une dépense{% endblock %}

{% block body %}
    <h1>Ajouter une dépense</h1>

    {{ form_start(form) }}
        {{ form_row(form.montant) }}
        {{ form_row(form.date) }}
        {{ form_row(form.description) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
