{% extends 'base.html.twig' %}

{% block title %}Depenses{% endblock %}

{% block body %}
    <h1>Depenses</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ depense.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ depense.montant }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ depense.date ? depense.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ depense.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_depenses_index') }}">back to list</a>

    <a href="{{ path('app_depenses_edit', {'id': depense.id}) }}">edit</a>

    {{ include('depenses/_delete_form.html.twig') }}
{% endblock %}
